// Font

$font-primary: "Epilogue", sans-serif;
$font-secondary: "IBM Plex Sans", sans-serif;

//Color

$bg-color-all: #fff;
$border-grey: rgba(0, 0, 0, 0.125);
$button-blue-green: #12ccbc;
$button-green-olive: #d0eb99;
$purple: #6512cc;

//Color Register

$link-color-terms: #757878;

//Color Footer
$bg-color-footer-1: #26272b;
$bg-color-footer-2: #434848;
$border-footer-color: #bbb;
$site-footer-color: #737373;
$hover-link-footer: #43bae2;
