// Font

$font-primary: "Epilogue", sans-serif;
$font-secondary: "IBM Plex Sans", sans-serif;

//Color

$bg-color-all: #fff;

$button-blue-green: #12ccbc;
$button-green-olive: #d0eb99;

$link-color-terms: #757878;
