.carrello {
    position: -webkit-sticky; /* Safari */
    position:sticky; 
    top:0;
}
.form-content {
    background-color: white; 
    border-radius: 5px;
    padding:30px; 
    margin-left:0; 
    h2 {
        margin-top:20px;
    }
    h4 {
        font-weight: bold;
    }
    h6 {
        font-size:15px;
        font-weight: bold;
    }
    .items {
        display:flex;
        justify-content: space-between;
    }
    .separetor {
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-width: 0 0 1px 0;
        margin-top: 10px;
    }
    .box-carrello {
        display: flex;
        justify-content: space-between;
    }
}

// Parte del pagamento solo view
.button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
  }
  
  .button--small {
    padding: 10px 20px;
    font-size: 0.875rem;
  }
  
  .button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
  }
  
  .button--green:hover {
    background-color: #8bdda8;
    color: white;
  }