.carrello {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 24px;
}
.form-content {
    background-color: $bg-color-all;
    border-radius: 5px;
    padding: 30px;
    margin-left: 0;
    h2 {
        margin-top: 20px;
    }
    h4 {
        font-weight: bold;
    }
    h6 {
        font-size: 15px;
        font-weight: bold;
    }
    .items {
        display: flex;
        justify-content: space-between;
    }
    .separetor {
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-width: 0 0 1px 0;
        margin-top: 10px;
    }
    .box-carrello {
        display: flex;
        justify-content: space-between;
    }
}

.opacity {
    opacity: 0.4;
}
