.home-row {
    margin-top: 40px;
}
.deliveboo {
    &-card {
        background-color: $bg-color-all;
        border: 1px solid $border-grey;
        word-wrap: break-word;
        box-shadow: 0 0 3px gray;
        height: 100%;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            box-shadow: 0 0 6px gray;
        }

        &-img {
            width: 100%;
            overflow: hidden;

            &-restaurant {
                height: 200px;
            }
            &-tag {
                height: 80px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-body {
            padding: 24px 12px;
        }

        &-text {
            font-family: $font-secondary;
        }
    }

    &-tag-container {
        position: relative;
    }

    &-tag {

        background-color: $bg-color-all;
        //border: 1px solid $button-blue-green;
        border-radius: 3px;
        // position: absolute;
        // bottom: 0;

        &-text {
            color: $button-blue-green;

            padding: 3px 6px;
            margin: 6px;
        }
    }
}

