.container-navbar{
    background: linear-gradient(
        170deg,
        $button-blue-green 50%,
        $button-green-olive 50%
    );

}

.bg-navbar {
    height: 100px;
}

.nav-access {
    background-color: $bg-color-all;
    position: fixed;
    z-index: 1001;
}
