//font-awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Icon Bootstrap
@import "~bootstrap-icons/font/bootstrap-icons.css";

//font Epilogue e Plex
@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=IBM+Plex+Sans&display=swap");

//partials
@import "color";
@import "navbar";
@import "footer";

@import "dashboard";
@import "formuser";

@import "chart";
@import "createform";
@import "errorPage";
@import "plate";
@import "home";
@import "ingredient";
@import "order";
@import "restaurant";

body {
    font-family: $font-primary;
    background-color: #fff;
    position: relative;
}

main {
    min-height: 80vh;
}

.cart-icon {
    color: $link-color-terms;
    font-size: 20px;
}

.font-header {
    font-family: $font-secondary;
    font-weight: 700;
}

.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}

.terms {
    font-size: x-small;
}

.terms a {
    text-decoration: underline;
    font-weight: 700;
    color: $link-color-terms;
}

.btn-bluegreen {
    background-color: $button-blue-green;
    color: $bg-color-all;
    font-weight: 700;
}

.link-bluegreen {
    color: $button-blue-green;
}

.ul-navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid $button-blue-green;
    padding: 0;

    li {
        margin-right: 6px;
    }
    a {
        color: $button-blue-green;
    }
}
